<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Piclog Account Setting</title>
    <link th:href="@{~/css/styles.css}" rel="stylesheet" />
    <link th:href="@{~/css/cover.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/3.22.1/tagify.css" />
    <style>
        .tagify-outside{
            border: 0;
            padding: 0;
            margin: 0;
        }
        .tagify--outside .tagify__input{
            order: -1;
            flex: 100%;
            border: 1px solid var(--tags-border-color);
            margin-bottom: 1em;
            transition: .1s;
        }
        .tagify--outside .tagify__input:hover{ border-color:var(--tags-hover-border-color); }
        .tagify--outside.tagify--focus .tagify__input{
            transition:0s;
            border-color: var(--tags-focus-border-color);
        }
    </style>
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="fragments.html :: main-nav(currentMenu='settings')">
    </header>
    <div class="row" style="margin: auto; max-width: 420px; width: 100%;">
        <div class="col-md-12">
            <div class="row">
                <h6 class="mb-3">주요 활동 지역</h6>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        시스템에 등록된 지역만 선택할 수 있습니다.
                    </div>
                    <div id="allZoneList" th:text="${allZoneList}" hidden></div>
                    <input id="current-zones" type="text" name="zones" th:value="${#strings.listJoin(userZones, ',')}"
                           class="tagify-outside" aria-describedby="tagHelp"/>
                </div>
            </div>
        </div>
    </div>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/3.22.1/tagify.min.js"></script>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script type="application/javascript">
    $(function() {
        function tagRequest(url, zoneName) {
            $.ajax({
                dataType: "json",
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/settings" + url,
                data: JSON.stringify({'zoneName': zoneName})
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            });
        }

        function onAdd(e) {
            tagRequest("/zone/add", e.detail.data.value);
        }

        function onRemove(e) {
            tagRequest("/zone/remove", e.detail.data.value);
        }

        var tagInput = document.querySelector("#current-zones");
        var tagify = new Tagify(tagInput, {
            enforceWhitelist: true,
            whitelist: JSON.parse(document.querySelector("#allZoneList").textContent),
            dropdown : {
                enabled: 1 // suggest tags after a single character input
            } // map tags
        });
        tagify.on("add", onAdd);
        tagify.on("remove", onRemove);
        // add a class to Tagify's input element
        tagify.DOM.input.classList.add('form-control');
        // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
        tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
    });
</script>
</body>
</html>